.media-lg img {
    width: 100%;
}

.media2 img {
    width: 50%;
    display: inline-block;
    float: left;
}

.media2 img:first-child {
    padding-right: 5px;
}

.media2 img:last-child {
    padding-left: 5px;
}

.media-text h3,
.media-text p {
    color: #9C5658;
    letter-spacing: .08rem;
}

.media-text h3 {
    margin-bottom: 20px;
    text-transform: uppercase;

    @media #{$xs-layout} {
        margin: 10px 0;
        font-size: 18px;
    }
}

.discovery a {
    background: #9C5658;
    color: #FFF !important;
    letter-spacing: .08rem;
}