{
    "openapi": "3.0.0",
    "info": {
        "title": "kihsiao Api文件",
        "description": "起笑 Api 文件",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://anbon.works/kihsiao//"
        },
        {
            "url": "http://localhost/kihsiao//"
        }
    ],
    "paths": {
        "api/version": {
            "get": {
                "tags": [
                    "version"
                ],
                "summary": "版本資訊",
                "description": "返回版本資訊",
                "operationId": "Api::version",
                "responses": {
                    "200": {
                        "description": "版本資訊"
                    }
                }
            }
        },
        "api/add_coin": {
            "post": {
                "tags": [
                    "測試"
                ],
                "summary": "加錢",
                "operationId": "Api::add_coin",
                "requestBody": {
                    "description": "params",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "user_id",
                                    "coin"
                                ],
                                "properties": {
                                    "user_id": {
                                        "description": "使用者id",
                                        "type": "string"
                                    },
                                    "coin": {
                                        "description": "錢",
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "上傳成功回傳",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "default": "true"
                                        },
                                        "msg": {
                                            "type": "string",
                                            "default": "加錢成功"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "api/add_item": {
            "post": {
                "tags": [
                    "測試"
                ],
                "summary": "加道具 全部+50個",
                "operationId": "Api::add_item",
                "requestBody": {
                    "description": "params",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "user_id"
                                ],
                                "properties": {
                                    "user_id": {
                                        "description": "使用者id",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "上傳成功回傳",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "default": "true"
                                        },
                                        "msg": {
                                            "type": "string",
                                            "default": "道具加值成功"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "api/set_level": {
            "post": {
                "tags": [
                    "測試"
                ],
                "summary": "調等級",
                "operationId": "Api::set_level",
                "requestBody": {
                    "description": "params",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "user_id",
                                    "level"
                                ],
                                "properties": {
                                    "user_id": {
                                        "description": "使用者id",
                                        "type": "string"
                                    },
                                    "level": {
                                        "description": "等級",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "上傳成功回傳",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "default": "true"
                                        },
                                        "msg": {
                                            "type": "string",
                                            "default": "變更等級成功"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "api/file_upload": {
            "post": {
                "tags": [
                    "上傳相關"
                ],
                "summary": "檔案上傳",
                "operationId": "Api::file_upload",
                "requestBody": {
                    "description": "params",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "token",
                                    "file"
                                ],
                                "properties": {
                                    "token": {
                                        "description": "登入token",
                                        "type": "string"
                                    },
                                    "file": {
                                        "description": "直接丟檔案",
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "上傳成功回傳",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "path": {
                                                        "type": "string",
                                                        "example": ""
                                                    },
                                                    "full_path": {
                                                        "type": "string",
                                                        "example": ""
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "example": [
                                                {
                                                    "path": "uploads/xxx.mp4",
                                                    "full_path": "http://anbon.works/093/uploads/xxx.mp4"
                                                }
                                            ]
                                        },
                                        "status": {
                                            "type": "string",
                                            "default": "true"
                                        },
                                        "msg": {
                                            "type": "string",
                                            "default": "上傳成功"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "api/img_upload": {
            "post": {
                "tags": [
                    "上傳相關"
                ],
                "summary": "圖片上傳",
                "operationId": "Api::img_upload",
                "requestBody": {
                    "description": "params",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "token",
                                    "image"
                                ],
                                "properties": {
                                    "token": {
                                        "description": "登入token",
                                        "type": "string"
                                    },
                                    "image": {
                                        "description": "base64編碼圖片",
                                        "type": "base64"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "上傳成功回傳",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "path": {
                                                        "type": "string",
                                                        "example": ""
                                                    },
                                                    "full_path": {
                                                        "type": "string",
                                                        "example": ""
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "example": [
                                                {
                                                    "path": "uploads/xxx.jpg",
                                                    "full_path": "http://anbon.works/093/uploads/xxx.jpg"
                                                }
                                            ]
                                        },
                                        "status": {
                                            "type": "string",
                                            "default": "true"
                                        },
                                        "msg": {
                                            "type": "string",
                                            "default": "上傳成功"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "api/img_upload_without_crop": {
            "post": {
                "tags": [
                    "上傳相關"
                ],
                "summary": "圖片上傳 (檔案)",
                "operationId": "Api::img_upload_without_crop",
                "requestBody": {
                    "description": "params",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "token",
                                    "image"
                                ],
                                "properties": {
                                    "token": {
                                        "description": "登入token",
                                        "type": "string"
                                    },
                                    "image": {
                                        "description": "圖片",
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "上傳成功回傳",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "path": {
                                                        "type": "string",
                                                        "example": ""
                                                    },
                                                    "full_path": {
                                                        "type": "string",
                                                        "example": ""
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "example": [
                                                {
                                                    "path": "uploads/xxx.jpg",
                                                    "full_path": "http://anbon.works/093/uploads/xxx.jpg"
                                                }
                                            ]
                                        },
                                        "status": {
                                            "type": "string",
                                            "default": "true"
                                        },
                                        "msg": {
                                            "type": "string",
                                            "default": "上傳成功"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "api/send_mobile_verify_code": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "1.發送手機驗證碼 (測試不發簡訊，驗證碼為123456)",
                "operationId": "Api::send_mobile_verify_code",
                "requestBody": {
                    "description": "params",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "mobile",
                                    "type"
                                ],
                                "properties": {
                                    "mobile": {
                                        "description": "手機",
                                        "type": "string"
                                    },
                                    "type": {
                                        "description": "\r\n  *      註冊 : register\r\n  *      重設密碼 : reset",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "發送成功回傳",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "default": "true"
                                        },
                                        "msg": {
                                            "type": "string",
                                            "default": "驗證碼已傳送至您的手機"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "api/verify_code_confirm": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "2.驗證驗證碼",
                "operationId": "Api::verify_code_confirm",
                "requestBody": {
                    "description": "params",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "mobile",
                                    "verify_code"
                                ],
                                "properties": {
                                    "mobile": {
                                        "description": "手機號碼",
                                        "type": "string"
                                    },
                                    "verify_code": {
                                        "description": "驗證碼",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "發送成功回傳",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "default": "true"
                                        },
                                        "msg": {
                                            "type": "string",
                                            "default": "驗證成功"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "api/set_atid": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "3.設定用戶ID",
                "operationId": "Api::set_atid",
                "requestBody": {
                    "description": "params",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "atid"
                                ],
                                "properties": {
                                    "atid": {
                                        "description": "用戶ID",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "發送成功回傳",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "default": "true"
                                        },
                                        "msg": {
                                            "type": "string",
                                            "default": "用戶ID未被使用"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "api/register": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "4.使用者註冊",
                "operationId": "Api::register",
                "requestBody": {
                    "description": "params",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "mobile",
                                    "atid"
                                ],
                                "properties": {
                                    "mobile": {
                                        "description": "手機",
                                        "type": "number"
                                    },
                                    "atid": {
                                        "description": "用戶ID",
                                        "type": "number"
                                    },
                                    "password": {
                                        "description": "密碼",
                                        "type": "string"
                                    },
                                    "confirmPassword": {
                                        "description": "確認密碼",
                                        "type": "string"
                                    },
                                    "login_type": {
                                        "description": "預設 normal\r\n  *     fb\r\n  *     google\r\n  *     apple\r\n  *     line",
                                        "type": "string"
                                    },
                                    "social_id": {
                                        "description": "社群id",
                                        "type": "string"
                                    },
                                    "os": {
                                        "description": "ios android",
                                        "type": "string"
                                    },
                                    "push_token": {
                                        "description": "推播token",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "註冊成功回傳",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "default": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoiMTAxMSIsImNyZWF0ZV90aW1lIjoiMjAyMS0wNS0yMCAwMjozODoyOCIsImV4cGlyZWRfdGltZSI6IjIwMjEtMDUtMjcgMDI6Mzg6MjgifQ.4ETpSFuYzSvqf9f_gT6QWbcATyRGzpn_YJrRkUxIxJw"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "number",
                                                    "default": "551"
                                                },
                                                "atid": {
                                                    "type": "number",
                                                    "default": "sd8486"
                                                },
                                                "avatar": {
                                                    "type": "string",
                                                    "default": "uploads/xxx.jpg"
                                                },
                                                "mobile": {
                                                    "type": "number"
                                                },
                                                "username": {
                                                    "type": "string",
                                                    "default": "小明"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "default": "王小明"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "default": "今天天氣真好"
                                                },
                                                "about": {
                                                    "type": "string",
                                                    "default": "哈囉 你好"
                                                },
                                                "coin": {
                                                    "type": "string",
                                                    "default": "9815"
                                                },
                                                "occupation": {
                                                    "type": "string",
                                                    "default": "學生"
                                                },
                                                "department": {
                                                    "type": "string",
                                                    "default": "大葉大學"
                                                },
                                                "student_id": {
                                                    "type": "string",
                                                    "default": "10905124"
                                                },
                                                "interests": {
                                                    "type": "string",
                                                    "default": "畫畫"
                                                },
                                                "sex": {
                                                    "type": "string",
                                                    "default": "男"
                                                },
                                                "age": {
                                                    "type": "string",
                                                    "default": "19"
                                                },
                                                "area": {
                                                    "type": "string",
                                                    "default": "台北市"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "status": {
                                            "type": "string",
                                            "default": "true"
                                        },
                                        "msg": {
                                            "type": "string",
                                            "default": "註冊成功"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "api/login": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "5.使用者登入",
                "operationId": "Api::login",
                "requestBody": {
                    "description": "params",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "mobile": {
                                        "description": "手機",
                                        "type": "number"
                                    },
                                    "password": {
                                        "description": "密碼",
                                        "type": "string"
                                    },
                                    "login_type": {
                                        "description": "預設 normal\r\n  *     fb\r\n  *     google\r\n  *     apple\r\n  *     line",
                                        "type": "string"
                                    },
                                    "social_id": {
                                        "description": "社群id",
                                        "type": "string"
                                    },
                                    "os": {
                                        "description": "ios android",
                                        "type": "string"
                                    },
                                    "push_token": {
                                        "description": "推播token",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "登入成功回傳",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "default": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoiMTAxMSIsImNyZWF0ZV90aW1lIjoiMjAyMS0wNS0yMCAwMjozODoyOCIsImV4cGlyZWRfdGltZSI6IjIwMjEtMDUtMjcgMDI6Mzg6MjgifQ.4ETpSFuYzSvqf9f_gT6QWbcATyRGzpn_YJrRkUxIxJw"
                                        },
                                        "is_new": {
                                            "type": "string",
                                            "default": "false"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "number",
                                                    "default": "551"
                                                },
                                                "atid": {
                                                    "type": "number",
                                                    "default": "sd8486"
                                                },
                                                "avatar": {
                                                    "type": "string",
                                                    "default": "uploads/xxx.jpg"
                                                },
                                                "mobile": {
                                                    "type": "number"
                                                },
                                                "username": {
                                                    "type": "string",
                                                    "default": "小明"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "default": "王小明"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "default": "今天天氣真好"
                                                },
                                                "about": {
                                                    "type": "string",
                                                    "default": "哈囉 你好"
                                                },
                                                "coin": {
                                                    "type": "string",
                                                    "default": "9815"
                                                },
                                                "occupation": {
                                                    "type": "string",
                                                    "default": "學生"
                                                },
                                                "department": {
                                                    "type": "string",
                                                    "default": "大葉大學"
                                                },
                                                "student_id": {
                                                    "type": "string",
                                                    "default": "10905124"
                                                },
                                                "interests": {
                                                    "type": "string",
                                                    "default": "畫畫"
                                                },
                                                "sex": {
                                                    "type": "string",
                                                    "default": "男"
                                                },
                                                "age": {
                                                    "type": "string",
                                                    "default": "19"
                                                },
                                                "area": {
                                                    "type": "string",
                                                    "default": "台北市"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "status": {
                                            "type": "string",
                                            "default": "true"
                                        },
                                        "msg": {
                                            "type": "string",
                                            "default": "登入成功"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "api/reset_password": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "6.重設密碼",
                "operationId": "Api::reset_password",
                "requestBody": {
                    "description": "params",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "mobile",
                                    "password",
                                    "confirmPassword"
                                ],
                                "properties": {
                                    "mobile": {
                                        "description": "手機",
                                        "type": "number"
                                    },
                                    "password": {
                                        "description": "密碼",
                                        "type": "string"
                                    },
                                    "confirmPassword": {
                                        "description": "確認密碼",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "成功回傳",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "default": "true"
                                        },
                                        "msg": {
                                            "type": "string",
                                            "default": "密碼重設成功!請重新登入"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "api/first_setting": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "7.初始設定",
                "operationId": "Api::first_setting",
                "requestBody": {
                    "description": "params",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "token"
                                ],
                                "properties": {
                                    "token": {
                                        "description": "登入token",
                                        "type": "string"
                                    },
                                    "username": {
                                        "description": "暱稱",
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "真實姓名",
                                        "type": "string"
                                    },
                                    "occupation": {
                                        "description": "身分\r\n  *      student\r\n  *      office_work\r\n  *      freelancer\r\n  *      teleworker\r\n  *      merchant\r\n  *      other",
                                        "type": "string"
                                    },
                                    "department": {
                                        "description": "部門或校系或工作性質",
                                        "type": "string"
                                    },
                                    "student_id": {
                                        "description": "學號 學生再傳值",
                                        "type": "string"
                                    },
                                    "interests": {
                                        "description": "興趣",
                                        "type": "string"
                                    },
                                    "sex": {
                                        "description": "性別\r\n  *     0 : 女生\r\n  *     1 : 男生",
                                        "type": "string"
                                    },
                                    "age": {
                                        "description": "年齡",
                                        "type": "string"
                                    },
                                    "area": {
                                        "description": "區域",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "成功回傳",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "default": "true"
                                        },
                                        "msg": {
                                            "type": "string",
                                            "default": "資料設定成功"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "api/user_info": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "8.取得使用者資料",
                "operationId": "Api::user_info",
                "requestBody": {
                    "description": "params",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "token"
                                ],
                                "properties": {
                                    "token": {
                                        "description": "登入token",
                                        "type": "string"
                                    },
                                    "user_id": {
                                        "description": "查詢個人不傳值，查詢他人傳user_id",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "回傳參數friend和fans的\r\n  *   status = 0 已申請\r\n  *   status = 1 已通過\r\n  *   status = 2 拒絕或未申請",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "number",
                                                        "default": "551"
                                                    },
                                                    "atid": {
                                                        "type": "number",
                                                        "default": "sd8486"
                                                    },
                                                    "avatar": {
                                                        "type": "string",
                                                        "default": "uploads/xxx.jpg"
                                                    },
                                                    "mobile": {
                                                        "type": "number"
                                                    },
                                                    "username": {
                                                        "type": "string",
                                                        "default": "小明"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "default": "王小明"
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "default": "今天天氣真好"
                                                    },
                                                    "about": {
                                                        "type": "string",
                                                        "default": "哈囉 你好"
                                                    },
                                                    "coin": {
                                                        "type": "string",
                                                        "default": "9815"
                                                    },
                                                    "occupation": {
                                                        "type": "string",
                                                        "default": "學生"
                                                    },
                                                    "department": {
                                                        "type": "string",
                                                        "default": "大葉大學"
                                                    },
                                                    "student_id": {
                                                        "type": "string",
                                                        "default": "10905124"
                                                    },
                                                    "interests": {
                                                        "type": "string",
                                                        "default": "畫畫"
                                                    },
                                                    "sex": {
                                                        "type": "string",
                                                        "default": "男"
                                                    },
                                                    "age": {
                                                        "type": "string",
                                                        "default": "19"
                                                    },
                                                    "area": {
                                                        "type": "string",
                                                        "default": "台北市"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "post": {
                                            "items": {
                                                "properties": {
                                                    "count": {
                                                        "type": "number",
                                                        "default": "551"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "friend": {
                                            "items": {
                                                "properties": {
                                                    "count": {
                                                        "type": "number",
                                                        "default": "551"
                                                    },
                                                    "status": {
                                                        "type": "number",
                                                        "default": "0"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "fans": {
                                            "items": {
                                                "properties": {
                                                    "count": {
                                                        "type": "number",
                                                        "default": "551"
                                                    },
                                                    "status": {
                                                        "type": "number",
                                                        "default": "1"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "subscribe": {
                                            "items": {
                                                "properties": {
                                                    "count": {
                                                        "type": "number",
                                                        "default": "551"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "status": {
                                            "type": "string",
                                            "default": "true"
                                        },
                                        "msg": {
                                            "type": "string",
                                            "default": "取得資料成功"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "api/edit_status": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "9.編輯狀態欄",
                "operationId": "Api::edit_status",
                "requestBody": {
                    "description": "params",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "token"
                                ],
                                "properties": {
                                    "token": {
                                        "description": "登入token",
                                        "type": "string"
                                    },
                                    "status": {
                                        "description": "狀態內容",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "成功回傳",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "default": "true"
                                        },
                                        "msg": {
                                            "type": "string",
                                            "default": "狀態設定成功"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "api/edit_profile": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "10.編輯個人檔案",
                "operationId": "Api::edit_profile",
                "requestBody": {
                    "description": "params",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "token",
                                    "username",
                                    "name",
                                    "occupation",
                                    "department",
                                    "interests",
                                    "sex",
                                    "age",
                                    "area",
                                    "about",
                                    "is_public",
                                    "is_blur",
                                    "is_location_hide"
                                ],
                                "properties": {
                                    "token": {
                                        "description": "登入token",
                                        "type": "string"
                                    },
                                    "username": {
                                        "description": "用戶名稱",
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "真實姓名",
                                        "type": "string"
                                    },
                                    "status": {
                                        "description": "狀態欄",
                                        "type": "string"
                                    },
                                    "occupation": {
                                        "description": "身份",
                                        "type": "string"
                                    },
                                    "department": {
                                        "description": "部門/學校/工作性質",
                                        "type": "string"
                                    },
                                    "student_id": {
                                        "description": "學號",
                                        "type": "string"
                                    },
                                    "interests": {
                                        "description": "興趣",
                                        "type": "string"
                                    },
                                    "sex": {
                                        "description": "性別",
                                        "type": "string"
                                    },
                                    "age": {
                                        "description": "年齡",
                                        "type": "string"
                                    },
                                    "area": {
                                        "description": "區域",
                                        "type": "string"
                                    },
                                    "about": {
                                        "description": "個人簡介",
                                        "type": "string"
                                    },
                                    "is_public": {
                                        "description": "帳號是否公開 預設:1\r\n  *     0 : 不公開\r\n  *     1: 公開",
                                        "type": "string"
                                    },
                                    "is_blur": {
                                        "description": "頭像是否模糊 預設:0\r\n  *     0 : 清楚\r\n  *     1 : 模糊",
                                        "type": "string"
                                    },
                                    "is_location_hide": {
                                        "description": "隱藏位置\r\n  *     0 : 顯示\r\n  *     1 : 隱藏",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "成功回傳",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "default": "true"
                                        },
                                        "msg": {
                                            "type": "string",
                                            "default": "個人檔案更新成功"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "api/name_verify": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "73.實名認證",
                "operationId": "Api::name_verify",
                "requestBody": {
                    "description": "params",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "token",
                                    "image"
                                ],
                                "properties": {
                                    "token": {
                                        "description": "登入token",
                                        "type": "string"
                                    },
                                    "image": {
                                        "description": "圖片url",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "成功回傳",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "default": "true"
                                        },
                                        "msg": {
                                            "type": "string",
                                            "default": "認證成功"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "api/edit_avatar": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "11.更換大頭貼",
                "operationId": "Api::edit_avatar",
                "requestBody": {
                    "description": "params",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "token",
                                    "avatar"
                                ],
                                "properties": {
                                    "token": {
                                        "description": "登入token",
                                        "type": "string"
                                    },
                                    "avatar": {
                                        "description": "大頭貼路徑",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "成功回傳",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "default": "true"
                                        },
                                        "msg": {
                                            "type": "string",
                                            "default": "更換大頭貼成功"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "api/del_avatar": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "12.刪除大頭貼",
                "operationId": "Api::del_avatar",
                "requestBody": {
                    "description": "params",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "token"
                                ],
                                "properties": {
                                    "token": {
                                        "description": "登入token",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "成功回傳",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "default": "true"
                                        },
                                        "msg": {
                                            "type": "string",
                                            "default": "刪除大頭貼成功"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "api/index_map": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "13.首頁地圖",
                "operationId": "Api::index_map",
                "requestBody": {
                    "description": "params",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "token",
                                    "lat",
                                    "lng"
                                ],
                                "properties": {
                                    "token": {
                                        "description": "登入token",
                                        "type": "string"
                                    },
                                    "lat": {
                                        "description": "緯度",
                                        "type": "string"
                                    },
                                    "lng": {
                                        "description": "經度",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "成功回傳",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "items": {
                                                "properties": {
                                                    "type": {
                                                        "type": "number",
                                                        "default": "user"
                                                    },
                                                    "id": {
                                                        "type": "number",
                                                        "default": "3"
                                                    },
                                                    "atid": {
                                                        "type": "number",
                                                        "default": "test003"
                                                    },
                                                    "username": {
                                                        "type": "string",
                                                        "default": "Alice"
                                                    },
                                                    "avatar": {
                                                        "type": "string",
                                                        "default": ""
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "default": "測試狀態啦"
                                                    },
                                                    "level": {
                                                        "type": "string",
                                                        "default": "5"
                                                    },
                                                    "event_id": {
                                                        "type": "string",
                                                        "default": "5"
                                                    },
                                                    "event_title": {
                                                        "type": "string",
                                                        "default": "抓寶"
                                                    },
                                                    "task_id": {
                                                        "type": "string",
                                                        "default": "5"
                                                    },
                                                    "task_title": {
                                                        "type": "string",
                                                        "default": "寫作業"
                                                    },
                                                    "distance": {
                                                        "type": "string",
                                                        "default": "16.4845864"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "example": [
                                                {
                                                    "type": "user",
                                                    "id": "3",
                                                    "atid": "test003",
                                                    "username": "Alice",
                                                    "avatar": "https://anbon.works/kihsiao/uploads/123.jpg",
                                                    "status": "測試狀態啦",
                                                    "level": "5",
                                                    "event_id": "5",
                                                    "event_title": "抓寶",
                                                    "task_id": "5",
                                                    "task_title": "寫作業",
                                                    "distance": "50.98626545456"
                                                },
                                                {
                                                    "type": "merchant",
                                                    "id": "2",
                                                    "atid": "test002",
                                                    "username": "旺來商行",
                                                    "avatar": "https://anbon.works/kihsiao/uploads/123.jpg",
                                                    "status": "哈囉",
                                                    "level": null,
                                                    "event_id": null,
                                                    "event_title": null,
                                                    "task_id": null,
                                                    "task_title": null,
                                                    "distance": "50.98626545456"
                                                }
                                            ]
                                        },
                                        "status": {
                                            "type": "string",
                                            "default": "true"
                                        },
                                        "msg": {
                                            "type": "string",
                                            "default": "取得資料成功"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "api/status_list": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "98.首頁狀態bar",
                "operationId": "Api::status_list",
                "requestBody": {
                    "description": "params",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "token"
                                ],
                                "properties": {
                                    "token": {
                                        "description": "登入token",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "成功回傳",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "my": {
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "number",
                                                        "default": ""
                                                    },
                                                    "username": {
                                                        "type": "string",
                                                        "default": ""
                                                    },
                                                    "atid": {
                                                        "type": "number",
                                                        "default": ""
                                                    },
                                                    "avatar": {
                                                        "type": "string",
                                                        "default": ""
                                                    },
                                                    "occupation": {
                                                        "type": "string",
                                                        "default": ""
                                                    },
                                                    "level": {
                                                        "type": "string",
                                                        "default": ""
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "default": ""
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "example": [
                                                {
                                                    "id": "3",
                                                    "username": "Alice",
                                                    "atid": "test003",
                                                    "avatar": "https://anbon.works/kihsiao/uploads/123.jpg",
                                                    "occupation": "office_work",
                                                    "level": "5",
                                                    "status": "測試狀態啦"
                                                }
                                            ]
                                        },
                                        "data": {
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "number",
                                                        "default": ""
                                                    },
                                                    "username": {
                                                        "type": "string",
                                                        "default": ""
                                                    },
                                                    "atid": {
                                                        "type": "number",
                                                        "default": ""
                                                    },
                                                    "avatar": {
                                                        "type": "string",
                                                        "default": ""
                                                    },
                                                    "create_date": {
                                                        "type": "string",
                                                        "default": ""
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "example": [
                                                {
                                                    "id": "3",
                                                    "username": "Alice",
                                                    "atid": "test003",
                                                    "avatar": "https://anbon.works/kihsiao/uploads/123.jpg",
                                                    "create_date": "2021-07-13 08:35:23"
                                                }
                                            ]
                                        },
                                        "status": {
                                            "type": "string",
                                            "default": "true"
                                        },
                                        "msg": {
                                            "type": "string",
                                            "default": "取得資料成功"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "api/today_story": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "99.開啟當日限時動態",
                "operationId": "Api::today_story",
                "requestBody": {
                    "description": "params",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "token"
                                ],
                                "properties": {
                                    "token": {
                                        "description": "登入token",
                                        "type": "string"
                                    },
                                    "user_id": {
                                        "description": "用戶id 若不傳值，則開啟自己的",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "成功回傳",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "number",
                                                        "default": ""
                                                    },
                                                    "user_id": {
                                                        "type": "string",
                                                        "default": ""
                                                    },
                                                    "type": {
                                                        "type": "number",
                                                        "default": ""
                                                    },
                                                    "content": {
                                                        "type": "string",
                                                        "default": ""
                                                    },
                                                    "create_date": {
                                                        "type": "string",
                                                        "default": ""
                                                    },
                                                    "is_delete": {
                                                        "type": "string",
                                                        "default": ""
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "example": [
                                                {
                                                    "id": "3",
                                                    "user_id": "3",
                                                    "type": "image",
                                                    "content": "https://anbon.works/kihsiao/uploads/123.jpg",
                                                    "create_date": "2021-07-13 08:35:23",
                                                    "is_delete": "0"
                                                },
                                                {
                                                    "id": "3",
                                                    "user_id": "3",
                                                    "type": "image",
                                                    "content": "https://anbon.works/kihsiao/uploads/123.jpg",
                                                    "create_date": "2021-07-13 08:35:23",
                                                    "is_delete": "0"
                                                }
                                            ]
                                        },
                                        "status": {
                                            "type": "string",
                                            "default": "true"
                                        },
                                        "msg": {
                                            "type": "string",
                                            "default": "取得資料成功"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "api/notification_list": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "14.通知列表",
                "operationId": "Api::notification_list",
                "requestBody": {
                    "description": "params",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "token"
                                ],
                                "properties": {
                                    "token": {
                                        "description": "登入token",
                                        "type": "string"
                                    },
                                    "page": {
                                        "description": "頁數 預設:1",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "成功回傳",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "number",
                                                        "default": ""
                                                    },
                                                    "user_id": {
                                                        "type": "number",
                                                        "default": ""
                                                    },
                                                    "content": {
                                                        "type": "number",
                                                        "default": ""
                                                    },
                                                    "type": {
                                                        "type": "number",
                                                        "default": ""
                                                    },
                                                    "relation_id": {
                                                        "type": "string",
                                                        "default": ""
                                                    },
                                                    "create_date": {
                                                        "type": "string",
                                                        "default": ""
                                                    },
                                                    "is_delete": {
                                                        "type": "string",
                                                        "default": ""
                                                    },
                                                    "avatar": {
                                                        "type": "string",
                                                        "default": ""
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "example": [
                                                {
                                                    "id": "3",
                                                    "user_id": "12",
                                                    "type": "event",
                                                    "content": "event",
                                                    "relation_id": "2",
                                                    "create_date": "2021-06-28 01:39:09",
                                                    "is_delete": "0",
                                                    "avatar": "https://anbon.works/kihsiao/uploads/123.jpg"
                                                },
                                                {
                                                    "id": "3",
                                                    "user_id": "12",
                                                    "type": "event",
                                                    "content": "event",
                                                    "relation_id": "2",
                                                    "create_date": "2021-06-28 01:39:09",
                                                    "is_delete": "0",
                                                    "avatar": "https://anbon.works/kihsiao/uploads/123.jpg"
                                                }
                                            ]
                                        },
                                        "friend_unread_cnt": {
                                            "type": "number",
                                            "default": "1"
                                        },
                                        "total": {
                                            "type": "number",
                                            "default": "20"
                                        },
                                        "total_page": {
                                            "type": "number",
                                            "default": "1"
                                        },
                                        "msg": {
                                            "type": "string",
                                            "default": "取得資料成功"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "api/notification_read": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "100.通知已讀",
                "operationId": "Api::notification_read",
                "requestBody": {
                    "description": "params",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "token",
                                    "notification_id"
                                ],
                                "properties": {
                                    "token": {
                                        "description": "登入token",
                                        "type": "string"
                                    },
                                    "notification_id": {
                                        "description": "通知id",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "成功回傳",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "default": "true"
                                        },
                                        "msg": {
                                            "type": "string",
                                            "default": "通知已讀成功"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
[...]
