.album_meta{
    position: fixed;
    top: 80px;
    right: 70px;
    width: 25%;
    height: 18%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
@media (max-width: 1024px){
    .album_meta{
        top: 15rem;
        right: 23rem;
        width: 30%;
    }
}
@media (max-width: 768px){
    .album_meta{
        width: 40%;
        top: 15rem;
        right: 15rem;
    }
}
@media (max-width: 425px){
    .album_meta{
        width: 70%;
        top: 8rem;
        right: 3.5rem;
    }
}

